h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: blue;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
}

.Change {
    background-color: purple;
}

p {
  font-weight: 600;
  font-size: 3em;
}

body {
  font-size: 16px;
}

#Yellow {
  background-color: yellow;
}

#Red {
  background-color: red;
}

#Brown {
  background-color: brown;
}