* {
  margin: 0;
  padding: 0;
}

header {
  font-size: 40px;
  font-family: sans-serif;
}

fieldset {
  padding: 10px;
  margin-right: 250px;
}

#email {
  margin-bottom: 10px;
}

div label {
  padding-left: 10px;
}

div {
  margin-bottom: 10px;
}

button {
  padding: 10px 50px;
  border-radius: 10px;
}